
{% extends 'STAFF_USER/base_staff_user.html' %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="part-1 " >
              <h2 class="welcome-message mt-4">Welcome! {{user.name}}</h2>
              <ol class="breadcrumb mb-4">
                  <li class="breadcrumb-item active"></li>
              </ol>
              <div class="row">
                  <!-- ASSIGN ITEM FORM Section -->
                  <div class="col-xl-6 col-lg-6">
                      <div class="card mb-4 card-design">
                          <div class="card-header text-center">
                            <i class="fas fa-chart-area me-1"></i>
                            ASSIGN ITEM FORM
                          </div>
                          <form id="assign-equipment-form" class="form-styling">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <span class="input-group-text">Item ID</span>
                                <input type="text" class="form-control" placeholder="Enter the id of the Item" id="equipment_id" name="equipment_id">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Location</span>
                                <input type="text" class="form-control" placeholder="If Location change needed" id="location" name="location">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Employee ID</span>
                                <input type="text" class="form-control" placeholder="Enter the id of the employee" id="employee_id" name="employee_id">
                            </div>
                            <p id="details_1" class="form-info">Item name and the employee name will appear here</p>
                            <div class="d-flex justify-content-between">
                              <button id="check_button_assign"  type="button" class="btn btn-primary">Check</button>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div id="message_div_assign_form" class="custom-alert" style="display:none;">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                <p id="customAlertText"></p>
                              </div>
                            
                          </form>
                        </div>
                  </div>
                  <!-- DE-ASSIGN ITEM FORM Section -->
                  <!-- DE-ASSIGN ITEM FORM Section -->
              <div class="col-xl-6 col-lg-6">
                <div class="card mb-4 card-design">
                    <div class="card-header text-center">
                        <i class="fas fa-chart-area me-1"></i>
                        DE-ASSIGN ITEM FORM
                    </div>
                    <form id="deassign-equipment-form" class="form-styling">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text">Item ID</span>
                            <input type="text" class="form-control" placeholder="Enter the id of the Item" id="equipment_id_deassign" name="equipment_id_deassign">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Location</span>
                            <input type="text" class="form-control" placeholder="If Location change needed" id="location_deassign" name="location_deassign">
                        </div>
                        <p id="details_2" class="form-info">Item name and the employee name will appear here</p>
                        <div class="d-flex justify-content-between">
                            <button id="check_button_deassign" class="btn btn-primary" type="button">Check</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div id="message_div_deassign_form" class="custom-alert" style="display:none;">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                            <p id="customAlertText"></p>
                          </div>
                    </form>
                </div>
              </div>

              </div>
          </div>
            <!--Horizontal line finish-->
            <hr  class= "mb-4" style="border-top: 6px solid red; margin: 20px 0;">
            <!-- Item Table Section -->
            <div class="card mb-4 mt-4">
                <!-- ... Your Code ... -->
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Item Table
                  </div>
                  <div class="card-body">
                    <table id="datatablesSimple">
                      <thead>
                          <tr>
                            <th>Item_id</th>
                            <th>Item_name</th>
                            <th>category</th>
                            <th>assigned_user</th>
                            <th>last_assigned</th>
                            <th>viewDetails</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                            <th>Item_id</th>
                            <th>Item_name</th>
                            <th>category</th>
                            <th>assigned_user</th>
                            <th>last_assigned</th>
                            <th>viewDetails</th>
                          </tr>
                      </tfoot>
                      <tbody>
                      </table>
                  </div>
            </div>

            <!-- Modal Section -->
            <div class="modal" id="equipmentModal" tabindex="-1" role="dialog">
                <div class="modal-dialog mw-100 w-75 modal-dialog-centered modal-lg" role="document" >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Item Details</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                
                      <div class="modal-body">
                        <div class="form-group row mt-2">
                            <label class="col-sm-4 col-form-label"><strong>Item ID:</strong></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="equipment_id_d" readonly>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label class="col-sm-4 col-form-label"><strong>Name:</strong></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="equipment_name_d" readonly>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label class="col-sm-4 col-form-label"><strong>Category:</strong></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="category_d" readonly>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label class="col-sm-4 col-form-label"><strong>Assigned User:</strong></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="assigned_user_d" readonly>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label class="col-sm-4 col-form-label"><strong>Last Assigned Date:</strong></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="last_assigned_d" readonly>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label class="col-sm-4 col-form-label"><strong>Location:</strong></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="location_d" readonly>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label class="col-sm-4 col-form-label"><strong>Image Link:</strong></label>
                            <div class="col-sm-8">
                                <a href="" id="equipment_image_d" target="_blank">View Image</a>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <label class="col-sm-4 col-form-label"><strong>Purchase Receipt:</strong></label>
                            <div class="col-sm-8">
                                <a href="" id="purchase_receipt_d" target="_blank">View Receipt</a>
                            </div>
                        </div>
                        <!-- Equipment Image upload -->
                       
                        <div class="form-group mt-2" id="equipment_image_upload" style="display: none;">
                            <div class="row">
                            <label for="equipment_image_file" class="col-sm-4 col-form-label"><strong>Upload Equipment Image:</strong></label>
                            <div class="col-sm-8">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="equipment_image_file">
                                </div>
                            </div>
                        </div>
                        </div>

                        <!-- Purchase Receipt upload -->
                        <div class="form-group mt-2" id="purchase_receipt_upload" style="display: none;">
                            <div class="row">
                            <label for="purchase_receipt_file" class="col-sm-4 col-form-label"><strong>Upload Purchase Receipt:</strong></label>
                            <div class="col-sm-8">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="purchase_receipt_file">
                                </div>
                            </div>
                        </div>
                        </div>
  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="editButton" type="button" class="btn btn-primary" onclick="editEquipment()">Edit</button>
                        <button id="saveButton" type="button" class="btn btn-success" onclick="saveEquipment()" style="display:none;">Save</button>
                    </div>
                    
                    </div>             
                  </div>
            </div>
        </div>
    </main>
</div>

{% endblock content %}

{% block staticFiles %}
<!-- home.html -->
<link rel="stylesheet" type="text/css" href="{% static 'css/homeStyle.css' %}">
<script src={% static 'js/homeScript.js' %}></script>
{% endblock staticFiles %}
