{% extends 'STAFF_USER/base_staff_user.html' %} {% block content %}
 {% load split_string %}
{% load static %}
<div id="layoutSidenav_content">
  <main>
    <div class="px-4">
      <h1 class="mt-4">Tables</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active" id="template_heading">
          Inactive Users
        </li>
      </ol>
    </div>
    <div class="buttons px-4 mb-2">
      <!-- Inactive Users Button -->
      <button id="showInactive" class="btn btn-primary">Inactive Users</button>
      <!-- Active Users Button -->
      <button id="showActive" class="btn">Active Users</button>
    </div>

    <div id="inactiveContainer" class="container-fluid px-4">
      <!-- Your existing code for inactive users table... -->

      <div class="card mb-4">
        {% with "Employee Id,Name,Employee_designation,Email,Contact_number,CheckBox"|split_string:"," as headers %}
           {% include 'Reusable Templates/databaseTable.html' with table_title="Inactive Employee" table_id="inactive_users_table" headers=headers %} 
        {% endwith %}
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Functions
          <button type="button" class="btn btn-primary" id="activeButton">
            Activate
          </button>
          <button type="button" class="btn btn-danger" id="deleteButton">
            Delete
          </button>
        </div>
      </div>
    </div>

    <!--Active Employes table -->
    <div
      id="activeContainer"
      class="container-fluid px-4"
      style="display: none"
    >
      <div class="card mb-4">
       
        {% with "Employee Id,Name,Employee_designation,Email,Contact_number,CheckBox"|split_string:"," as headers %}
           {% include 'Reusable Templates/databaseTable.html' with table_title="Active Employee" table_id="active_user_table" headers=headers %} 
        {% endwith %}
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Functions 
          <button type="button" class="btn btn-danger" id="deleteButton">
            Delete
          </button>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock content %} {% block staticFiles %} {% load static %}
<script src="{% static 'js/normal_user_managementScript.js' %}"></script>

{% endblock staticFiles %}
