{% extends 'STAFF_USER/base_staff_user.html' %} {% load static %} 
{% block content %}

<div id="layoutSidenav_content">
  <main>
    <!--Staff users container-->
    <div class="container">
      <div class="search-bar">
        <input
          type="text"
          id="search"
          class="form-control"
          placeholder="Search..."
        />
        <button class="btn btn-primary" id="addStaffUser">AddStaffUser</button>
      </div>
      <div class="keep-cards">
        <div class="row">
          {% for user in staff_users_with_images %}
          <div class="col-md-4">
            <div
              class="card card-1"
              style="background-image: url({% static user.image %})"
            >
              <h3 class="searchable">{{ user.name }}</h3>
              <h5 class="searchable card-subtitle text-muted">
                {{ user.email }}
              </h5>
              <div class="card-body px-0">
                <h5 class="card-title">
                  Employee ID:
                  <span class="searchable">{{user.employee_id}}</span>
                </h5>
                <p class="searchable card-text">{{user.contact_no}}</p>
                <p class="searchable card-text">{{user.designation}}</p>
                <button
                  class="btn btn-warning py-0 editStaffUserButton"
                  data-id="{{ user.employee_id }}"
                >
                  edit
                </button>

                <button
                  class="btn btn-danger py-0 deleteStaffUserButton"
                  data-id="{{ user.employee_id }}"
                >
                  delete
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- Add Staff User Modal -->
  {% include 'Reusable Templates/addStaffUserModal.html' %}

   <!-- Edit Staff User Modal -->
 {% include 'Reusable Templates/editStaffUserModal.html' %}



  </main>
</div>

{% endblock %} {% block staticFiles %} {% load static %}
<script src="{% static 'js/staff_user_managementScript.js' %}"></script>
<!--Add the Staff User  Javascript-->
<script src="{% static 'js/Reusable_Javascript/addStaffUser.js' %}"></script>

<!--Edit the Staff User  Javascript-->
<script src="{% static 'js/Reusable_Javascript/editStaffUser.js' %}"></script>

<link
  rel="stylesheet"
  href="{% static 'css/staff_user_managementStyle.css' %}"
/>

{% endblock staticFiles %}
