{% extends 'STAFF_USER/base_staff_user.html' %} {% load static %} 
{% block content %}

<div id="layoutSidenav_content">
  <main>
    <!--Staff users container-->
    <div class="container">
      <div class="search-bar">
        <input
          type="text"
          id="search"
          class="form-control"
          placeholder="Search..."
        />
        <button class="btn btn-primary" id="addStaffUser">AddStaffUser</button>
      </div>
      <div class="keep-cards">
        <div class="row">
          {% for user in staff_users_with_images %}
          <div class="col-md-4">
            <div
              class="card card-1"
              style="background-image: url({% static user.image %})"
            >
              <h3 class="searchable">{{ user.name }}</h3>
              <h5 class="searchable card-subtitle text-muted">
                {{ user.email }}
              </h5>
              <div class="card-body px-0">
                <h5 class="card-title">
                  Employee ID:
                  <span class="searchable">{{user.employee_id}}</span>
                </h5>
                <p class="searchable card-text">{{user.contact_no}}</p>
                <p class="searchable card-text">{{user.designation}}</p>
                <button
                  class="btn btn-warning py-0 editStaffUserButton"
                  data-id="{{ user.employee_id }}"
                >
                  edit
                </button>

                <button
                  class="btn btn-danger py-0 deleteStaffUserButton"
                  data-id="{{ user.employee_id }}"
                >
                  delete
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- Add Staff User Modal -->
    <div
      class="modal fade"
      id="addStaffUserModal"
      tabindex="-1"
      aria-labelledby="addStaffUserModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">2
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addStaffUserModalLabel">
              Add New Staff User
            </h5>
            <button
              type="button"
              id="closeAddStaffUserModalIcon"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="addStaffUserForm">
              <div class="form-group">
                <label for="staffEmail">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="staffEmail"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="form-group">
                <label for="staffName">Name</label>
                <input type="text" class="form-control" id="staffName" />
              </div>
              <div class="form-group">
                <label for="staffContactNo">Contact Number</label>
                <input type="text" class="form-control" id="staffContactNo" />
              </div>
              <div class="form-group">
                <label for="staffDesignation">Designation</label>
                <input type="text" class="form-control" id="staffDesignation" />
              </div>
              <div class="form-group">
                <label for="staffPassword" id="staffPasswordLabel"
                  >Password</label
                >
                <input type="password" class="form-control" />
              </div>
              <div class="form-group">
                <label for="confirmStaffPassword">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmStaffPassword"
                />
              </div>
            </form>
          </div>
          <!--display the message here-->
          <div id="message-container"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              id="submitEditStaffUserButton"
              style="display: none"
            >
              submit
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              id="closeAddStaffUserModalButton"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="submitAddStaffUserForm"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>

   <!-- Edit Staff User Modal -->
  <div class="modal fade" id="editStaffUserModal" tabindex="-1" aria-labelledby="editStaffUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editStaffUserModalLabel">Edit Staff User</h5>
          <button type="button" class="close" data-dismiss="modal" id="closeEditStaffUserModalIcon" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editStaffUserForm">
            <input type="hidden" id="editStaffUserId">
            <div class="form-group">
              <label for="editStaffEmail">Email address</label>
              <input type="email" class="form-control" id="editStaffEmail" />
            </div>
            <div class="form-group">
              <label for="editStaffName">Name</label>
              <input type="text" class="form-control" id="editStaffName" />
            </div>
            <div class="form-group">
              <label for="editStaffContactNo">Contact Number</label>
              <input type="text" class="form-control" id="editStaffContactNo" />
            </div>
            <div class="form-group">
              <label for="editStaffDesignation">Designation</label>
              <input type="text" class="form-control" id="editStaffDesignation" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditStaffUserModalButton">Close</button>
          <button type="button" class="btn btn-primary" id="submitEditStaffUserForm">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  </main>
</div>

{% endblock %} {% block staticFiles %} {% load static %}
<script src="{% static 'js/staff_user_managementScript.js' %}"></script>
<link
  rel="stylesheet"
  href="{% static 'css/staff_user_managementStyle.css' %}"
/>

{% endblock staticFiles %}
