<!--inherit base normal user template-->
{% extends 'NORMAL_USER/base_normal_user.html' %} {% block content %} 
{%load split_string%}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4 py-5">
      <h1 class="mt-4" style="color: darkblue">Welcome to SMSS</h1>
      <div class="card mb-4">
        {%with "Item Id,Item Name,Category,Availability Status,View Details,Select"|split_string:"," as headers%} 
        {% include 'Reusable Templates/databaseTable.html' with table_title="Item Table" table_id="datatablesSimple" header=headers%} 
        {%endwith%}
        <div class="card-header">
          <div class="d-flex align-items-center">
            <i class="fas fa-table me-1"></i>
            <p class="me-2 mb-0">Actions</p>

            <!-- Dropdown Menu -->
            <div class="dropdown">
              <button
                class="btn btn-info dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Select Type
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" id="assignedEquipmentsButton" href="#"
                  >Assigned Items</a
                >
                <a class="dropdown-item" id="availableEquipmentsButton" href="#"
                  >Available Items</a
                >
                <a class="dropdown-item" id="allButton" href="#">All Items</a>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-warning ms-2"
              id="addEquipmentButton"
              data-bs-toggle="modal"
              data-bs-target="#addEquipmentModal"
            >
              Add Items
            </button>
            <button
              type="button"
              class="btn btn-warning ms-2"
              id="requestAssignmentButton"
            >
              Req. Assignment
            </button>
            <button
              type="button"
              class="btn btn-danger ms-2"
              id="deallocationButton"
            >
              Req. deallocation
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!--Add Equipment Modal-->
{% include 'Reusable Templates/RequestEquipmentModal.html' %}
 {% endblock content %}
  {% load static %} 
  {% block staticFiles %}
<script src="{% static 'js/normalUserHomeScript.js' %}"></script>
{% endblock staticFiles %}
