
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Online Lab Assitant</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    {% load static %}
  <link rel="stylesheet" href={% static 'css/registerCSS.css' %}>


  <style> 
	.header {
		display: flex;
		align-items: center;
		justify-content: start;
		margin-top: 20px;

	}

	.header img {
		width: 100px; /* adjust as needed */
		height: 100px; /* adjust as needed */
		margin-right: 10px;
	}
	{% comment %} body {
		background-image: url('{% static "assets/img/backgroundRegiter.jpeg" %}');
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 100vh;
	  }  {% endcomment %}
	 



</style>
<script>
    function validateForm() {
      var password = document.forms["registerForm"]["password"].value;
      var confirmPassword = document.forms["registerForm"]["confirm_password"].value;

      if (password != confirmPassword) {
        alert("Passwords do not match.");
        return false;
      }
    }
  </script>

</head>
<body>



<div class="header">
	<img src={% static 'assets/img/logo.png' %} alt="logo" class="logo">
	<h1>SMSS LABORATORY IIT KANPUR</h1>
</div>
<!-- partial:index.partial.html -->
{% comment %} <h2>Welcome to our Lab</h2> {% endcomment %}
<div class="container" id="container" style="margin-top:20px">
	<div class="form-container sign-up-container">
		<form action="reg_normal_user" method="Post" name="registerForm" onsubmit="return validateForm()">
            {% csrf_token %}
			<h1>Create Account</h1>
            <input type="email" placeholder="Email" name="email" />
            <input type="text" placeholder="Name" name="name" />
            <input type="text" placeholder="Employee_id" name="employee_id" />
            <input type="text" placeholder="Contact_no" name="contact_no" />
            <input type="text" placeholder="Employee_designation" name="employee_designation" />
            <input type="password" placeholder="Password" name="password" />
			<input type="password" placeholder="Confirm Password" name="confirm_password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="login" method="POST">
			{% csrf_token %}
			<h1>Sign in</h1>
			<span>or use your account</span>
			<input type="email" placeholder="Email" name="email" />
			<input type="password" placeholder="Password" name="password"/>
			<a href="password-reset">Forgot your password?</a>
			<button type="submit" >Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>For new SMSS aspirant</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- partial -->
  <script  src={% static 'js/registerScript.js' %}></script>

</body>
</html>
