
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Online Lab Assitant</title>
  {% comment %} <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'> {% endcomment %}
    {% load static %}
  <link rel="stylesheet" href={% static 'css/registerCSS.css' %}>


  <style> 
	.header {
		display: flex;
		align-items: center;
		justify-content: start;
		margin-top: 20px;

	}

	.header img {
		width: 100px; /* adjust as needed */
		height: 100px; /* adjust as needed */
		margin-right: 10px;
	}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>



<div class="header">
	<img src={% static 'assets/img/logo.png' %} alt="logo" class="logo">
	<h1>SMSS LABORATORY IIT KANPUR</h1>
</div>
<div class="container" id="container" style="margin-top:20px">
	<div class="form-container sign-up-container">
		<form  name="registerForm"  >
            {% csrf_token %}
			<h1>Create Account</h1>
			{% comment %} required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" {% endcomment %}
			<input type="email" id="email" placeholder="Email" name="email"  required>
			<input type="text" placeholder="Name" name="name" required />
            <input type="text" placeholder="Contact_no" name="contact_no" required />
            <input type="text" placeholder="Employee_designation" name="employee_designation" required/>
			<input type="password" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
			<input type="password" placeholder="Confirm Password" name="confirm_password" required/>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form  name="loginForm" >
			{% csrf_token %}
			<h1>Sign in</h1>
			<span>or use your account</span>
			<input type="email" placeholder="Email" name="email" />
			<input type="password" placeholder="Password" name="password"/>
			<a href="password-reset">Forgot your password?</a>
			<button type="submit" >Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>For new SMSS aspirant</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<div id="message_div" style="font-size: 16px;" class="mt-4">
</div>
<!-- partial -->



  <script  src={% static 'js/registerScript.js' %}></script>

</body>
</html>
