<!-- Edit Staff User Modal -->

<div class="modal fade" id="editStaffUserModal" tabindex="-1" aria-labelledby="editStaffUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editStaffUserModalLabel">Edit Staff User</h5>
          <button type="button" class="close" data-dismiss="modal" id="closeEditStaffUserModalIcon" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editStaffUserForm">
            <input type="hidden" id="editStaffUserId">
            <div class="form-group">
              <label for="editStaffEmail">Email address</label>
              <input type="email" class="form-control" id="editStaffEmail" />
            </div>
            <div class="form-group">
              <label for="editStaffName">Name</label>
              <input type="text" class="form-control" id="editStaffName" />
            </div>
            <div class="form-group">
              <label for="editStaffContactNo">Contact Number</label>
              <input type="text" class="form-control" id="editStaffContactNo" />
            </div>
            <div class="form-group">
              <label for="editStaffDesignation">Designation</label>
              <input type="text" class="form-control" id="editStaffDesignation" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditStaffUserModalButton">Close</button>
          <button type="button" class="btn btn-primary" id="submitEditStaffUserForm">Save changes</button>
        </div>
      </div>
    </div>
  </div>