{% extends 'base_staff_user.html' %} {% block content %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Hii!{{user.name}}</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Welcome</li>
      </ol>

      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="card mb-4">
            <div class="card-header text-center">
              <i class="fas fa-chart-area me-1"></i>
              ASSINGN EQUIPEMENT FORM
            </div>
            <form id="assign-equipment-form">
              {% csrf_token %}
              <div class="mb-1 mt-3 px-5">
                <div class="mb-3 mt-3">
                  <div class="d-flex align-items-center">
                    <p class="m-0 me-2 mr-3">EQUIP.ID</p>
                    <input
                      type="text"
                      class="form-control flex-grow-1"
                      placeholder="enter the id of the equipment"
                      id="equipment_id"
                      name="equipment_id"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-1 mt-3 px-5">
                <div class="mb-3 mt-3">
                  <div class="d-flex align-items-center">
                    <p class="m-0 me-2 mr-3">LOCATION</p>
                    <input
                      type="text"
                      class="form-control flex-grow-1"
                      placeholder="enter the location of the equipment"
                      id="location"
                      name="location"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-4 mt-3 px-5">
                <div class="mb-3 mt-3">
                  <div class="d-flex align-items-center">
                    <p class="m-0 me-2 mr-3">EMPLOYEE.ID</p>
                    <input
                      type="text"
                      class="form-control flex-grow-1"
                      placeholder="enter the id of the equipment"
                      id="employee_id"
                      name="employee_id"
                    />
                  </div>
                </div>
              </div>
              <div class="mb-2 px-5">
                <p
                  style="display: inline-block; margin-left: 5px"
                  id="details_1"
                >
                  equipment name and the employee name will appear here
                </p>
              </div>
              <div class="d-flex justify-content-between px-5">
                <button
                  id="check_button_assign"
                  onclick="checkEquipmentAssignment()"
                  type="button"
                  class="btn btn-primary"
                >
                  Check Button
                </button>
                <button type="submit" class="btn btn-primary ml-autop">
                  Submit Button
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="card mb-4">
            <div class="card-header text-center">
              <i class="fas fa-chart-area me-1"></i>
              DE-ASSINGN EQUIPEMENT FORM
            </div>
            <form id="deassign-equipment-form">
              {% csrf_token %}
              <div class="mb-4 mt-3 px-5">
                <div class="mb-3 mt-3">
                  <div class="d-flex align-items-center">
                    <p class="m-0 me-2 mr-3">EQUIP.ID</p>
                    <input
                      type="text"
                      class="form-control flex-grow-1"
                      placeholder="enter the id of the equipment"
                      id="equipment_id_deassign"
                      name="employee_id_deassign"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-4 mt-3 px-5">
                <div class="mb-3 mt-3">
                  <div class="d-flex align-items-center">
                    <p class="m-0 me-2 mr-3">LOCATION</p>
                    <input
                      type="text"
                      class="form-control flex-grow-1"
                      placeholder="enter the location of the equipment"
                      id="location_deassign_input"
                      name="location_deassign_input"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-1 px-5">
                <p
                  style="display: inline-block; margin-left: 5px"
                  id="details_2"
                >
                  equipment name and the employee name will appear here
                </p>
              </div>
              <div class="mb-2 px-5">
                <p
                  style="display: inline-block; margin-left: 5px"
                  id="location_deassign_text"
                >
                  location of the equipment will appear here
                </p>
              </div>
              <div class="d-flex justify-content-between px-5">
                <button
                  id="check_button_deassign"
                  class="btn btn-primary"
                  type="button"
                >
                  Check Button
                </button>
                <button type="submit" class="btn btn-primary ml-autop">
                  Submit Button
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Equipment Table
        </div>
        <div class="card-body">
          <table id="datatablesSimple">
            <thead>
                <tr>
                  <th>equipment_id</th>
                  <th>equipment_name</th>
                  <th>category</th>
                  <th>assigned_user</th>
                  <th>last_assigned</th>
                  <th>viewDetails</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                  <th>equipment_id</th>
                  <th>equipment_name</th>
                  <th>category</th>
                  <th>assigned_user</th>
                  <th>last_assigned</th>
                  <th>viewDetails</th>
                </tr>
            </tfoot>
            <tbody>
            </table>
        </div>
      </div>
    </div>
  </main>
<div class="modal" id="equipmentModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog mw-100 w-75 modal-dialog-centered modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Equipment Details</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" >
        <div class="row">
          <div class="col-md-6 ">
            <p><strong>Image:</strong> <img style="width: 500px; height: 500px" id="equipment_image_d" src="" alt=""><input type="file" id="new_image" style="display:none;"></p>
          </div>
          
          <div class="col-md-6">
            <div class="form-group row mt-2">
              <label class="col-sm-4 col-form-label"><strong>Equipment ID:</strong></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="equipment_id_d" readonly>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-sm-4 col-form-label"><strong>Name:</strong></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="equipment_name_d" readonly>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-sm-4 col-form-label"><strong>Category:</strong></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="category_d" readonly>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-sm-4 col-form-label"><strong>Assigned User:</strong></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="assigned_user_d" readonly>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-sm-4 col-form-label"><strong>Last Assigned Date:</strong></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="last_assigned_d" readonly>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-sm-4 col-form-label"><strong>Location:</strong></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="location_d" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="editButton" type="button" class="btn btn-primary" onclick="editEquipment()">Edit</button>
        <button id="saveButton" type="button" class="btn btn-success" onclick="saveEquipment()" style="display:none;">Save</button>
      </div>

    </div>             
  </div>
</div>



{% load static %}


{% endblock content %}

{% block staticFiles %}
<style link={% static 'css/homeStyle.css' %}></style>
<script src={% static 'js/homeScript.js' %}></script>
{% endblock staticFiles %}




